@import './fonts/inter.css';

/* brutal reset */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    scroll-behavior: smooth;
    text-rendering: geometricPrecision;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    pointer-events: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

a,
button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

// ::-webkit-scrollbar {
//     display: none;
// }

/* easings */

:root {
    // --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    // --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    // --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    // --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    // --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    // --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    // --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    // --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
    // --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
    // --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
    // --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
    // --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
    // --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    // --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
    // --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
    // --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
    // --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
    // --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

    --row: calc(100vh / 8);
    --col: calc(100vw/36);
}

$row : 100vh / 8;
$col : 100vw / 36;


// grid overlay

#grid {
    z-index: 9999;
    position: fixed;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0 auto;
    background-size: calc(var(--col) * 2) var(--row);
    background-image:
        linear-gradient(to right, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) var(--col), transparent var(--col)),
        linear-gradient(to bottom, transparent calc(var(--row) - 1px), rgba(255, 0, 0, 0.5) var(--row));
}


/* custom styles */

body {
    font-family: 'Inter', Helvetica, sans-serif;
    line-height: 1.325;
    font-size: calc(1rem + 0.5vw);
}

html,
body {
    background: #eeeeee;
    overflow-x: hidden;
}

.w-medium {
    font-weight: 800;
}

.link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

main {
    min-height: 100vh;
}

.hero {
    overflow: hidden;

    .bg_img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        min-height: 100vh;
        max-width: 100vw;
        filter: opacity(0.25);
        pointer-events: none;

        img {
            min-height: 100vh;
            min-width: 100vw;
            width: auto;
        }
    }

    .content {
        height: 100vh;
        width: 100%;
        display: grid;
        place-items: start center;

        .wrapper {
            filter: opacity(1);
            text-align: center;

            .menu {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin-bottom: $row;

                .menu-item {
                    flex-basis: 33%;
                    font-size: calc(2rem + 1vw);
                }
            }

            .tagline {
                font-size: calc(1.5rem + 1vw);
            }
        }
    }
}

.story {
    .columns {
        height: 100vh;
        padding: 0 $col;

        .left,
        .right {
            flex-basis: calc(50%);

            img {
                min-width: 50vw;
                min-height: 100%;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 $col;
            font-size: calc(1rem + 1vw);
            background: #042454;
            color: white;
            // text-align: center;

            h1 {
                font-size: calc(3rem + 3vw);
            }
        }
    }
}

section {
    margin-bottom: $row * 2;
}

.two h1 {
    padding: 0 0 0 $col * 1;
    margin: 0 0 $row 0;
    font-size: 5vw;
    font-weight: 800;
}

.two .products {
    width: 100%;
    padding: 0 $col 0 $col;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columns {
    display: flex;
}

.img-placeholder {
    width: 100%;
    height: $row * 6;
    background: lightblue;
}

.product {
    flex-basis: 30vw;
    margin: 0 0 $row * 2 0;
    text-align: center;
}

.product:last-of-type {
    margin: 0;
}

.product h2 {
    padding: 1.5rem 0 0 0;
    margin: 0 0 1.75rem 0;
    font-size: calc(2rem + 1vw);
    text-transform: capitalize;
}

.product p {
    padding-right: 2rem;
    max-width: 50ch;
}


h1 {
    line-height: 1;
    font-weight: 800;
    margin-bottom: 2rem;
}

footer {
    min-height: 6 * $row;
    max-width: 100%;
    background: #CCE4FC;
    padding: $row $col;
    margin: 0 $col;

    h1 {
        text-align: center;
        font-size: calc(3rem + 3vw);
        margin-bottom: $row;
    }

    .columns {
        margin-bottom: $row;

        .box {
            display: flex;
            margin-bottom: 2rem;
            .left,
            .right {
                padding: 0;
            }
    
            .left {
                flex-basis: 25%;
                padding: 0 $col;
            }
    
            .right {
                flex-basis: 75%;
            }
        }

        .left,
        .right {
            flex-basis: 50%;
            padding: 0 $col;
        }
    }

    .cta {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            margin: 2rem 0 0 0;
            padding: 1rem 2rem;
            border-radius: 10px;
            background: #042454;
            color: white;
            border: none;
            outline: none;
            transition: 0.4s background ease-in-out;
            text-align: center;
        }

        button:hover {
            background: black;
        }
    }
}



@media only screen and (max-width: 767px) {
    $row: $row / 2;

    body {
        font-size: 1rem;
    }

    * {
        flex-direction: column;
    }

    section {
        margin-bottom: $row * 2;
    }

    .nav {
        min-height: $row * 5;
        grid-template-rows: repeat(6, 1fr);
        margin: 0;
    }

    .nav_section {
        font-size: 0.875rem;
    }

    .nav_left {
        grid-area: 3/1/4/37;
    }

    .nav_middle {
        grid-area: 5/2/7/36;
        margin-right: $col * 2;
    }

    .nav_right {
        grid-area: 1/2/2/37;
        font-size: 1rem;
        line-height: 1.75;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
        text-align: center;

        .quote {
            display: none;
        }
    }

    .img-wrapper {
        min-height: 100%;
        // max-height: 200vh;
    }

    .one .img-wrapper {
        height: $row * 9;
        background: lightblue;
    }

    .one.columns .column.left {
        margin: $col 0 $row;
        width: 100%;

        h1 {
            font-size: calc(3rem + 1vw);
        }
    }

    .one.columns .column.right {
        padding: 0 0 0 $col;
        width: $col * 34;
    }

    .product {
        margin: 0 0 $row 0;
    }

    .product.right {
        margin-left: 0;
    }

    .product h2 {
        font-size: calc(1.575rem + 1vw);
    }

    .product p {
        padding-right: 0;
        max-width: 50ch;
    }

    h1.title {
        font-size: calc(3rem + 1vw);
    }

    .two h1 {
        margin: 0 0 $row / 2 0;
    }




    footer {
        padding-bottom: $row;
        min-height: 100%;

        .titles {
            margin-bottom: $row / 2;

            .left {
                flex-basis: 100%;
                margin-bottom: $row / 2;
            }

            .right {
                flex-basis: 100%;

                h2 {
                    font-size: calc(1rem + 0.75vw);
                }
            }
        }

        .columns {
            .contact_left {
                display: flex;
                flex-direction: row-reverse;
                padding-top: $row;

                address {
                    flex-basis: calc(100% - 5rem);
                    margin-bottom: $row/2;
                }

                .social {
                    width: 4rem;
                    flex-basis: 4rem;
                    // flex-direction: row;
                    margin: 0;
                    margin-bottom: $row;

                    .social_container,
                    .social_item {
                        width: 1rem;
                        height: 1rem;
                        flex-basis: 2rem;
                    }
                }
            }

            .contact_right {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .w-medium {
                    flex-basis: 50%;
                }

                .p {
                    flex-basis: 50%;
                }

                #colophon {
                    flex-basis: 100%;
                    // text-align: center;
                }
            }
        }
    }

}